header{
    background-color: gray;
    text-align: center;
    font-size: 62px;
    height:75px;
}
h2{
    text-align: left;
}
h3{
    text-align: right;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    
}
th{
    border-collapse: collapse;
    border: 1px solid black;
    width: 153px;
    

}
